@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
    font-style: normal;
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #101820;
    opacity: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu>ul {
    display: flex;
    margin-right: 70px;
    list-style-type: none;
}

.header__menu>ul>li {
    margin-right: 20px;
}

.header__menu>ul>li>a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 14px;
    transition: all 500ms ease;
}

.header__menu>ul>li>a:hover {
    color: #d33f8d;
}

.header__menu-btn>a>button {
    padding: 0 40px 0 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #d33f8d;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border: none;
    transition: all 500ms ease;
    cursor: pointer;
}

.header__menu-btn>a>button:hover {
    color: #d33f8d;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 3px #f6f6f6;
}

.about {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgb(0 0 0 / 100%)), url("../assets/img/crmBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background-attachment: fixed; */
    background-position: top;
    padding-bottom: 100px;
}

.about__content {
    padding-top: 111px;
    padding-bottom: 111px;
}

.about__content-title {
    width: 760px;
    padding: 24px 0 38px 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 52px;
    line-height: 1.23;
    font-family: "OpenSans";
    font-weight: 600;
}

.about__content-description {
    color: #afafaf;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 300;
    font-family: "OpenSans";
    margin-bottom: 90px;
}

.about__content-buttons {
    display: flex;
}

.about__content-btnOne>button {
    color: #ffffff;
    background-color: #d33f8d;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border: none;
    transition: all 500ms ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-family: "OpenSans";
    border: none;
    transition: all .4s;
    border-radius: 50px;
    padding: 20px 51px 20px 51px;
    margin-right: 20px;
}

.about__content-btnOne>button:hover {
    color: #d33f8d;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 3px #f6f6f6;
}

.about__content-btnTwo>button {
    color: #fff;
    background: none;
    font-size: 16px;
    font-weight: 700;
    font-family: "OpenSans";
    text-align: center;
    cursor: pointer;
    transition: all .4s;
    border: 3px solid #ffffff;
    border-radius: 50px;
    padding: 20px 60px 20px 60px;
}

.about__content-btnTwo>button:hover {
    border-color: #d33f8d;
    color: #d33f8d;
}

.company {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #fff;
}

.company__content-title {
    text-transform: uppercase;
    font-family: "OpenSans";
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    line-height: 1.35;
    margin-bottom: 25px;
}

.company__content-description {
    font-size: 30px;
    line-height: 1.45;
    font-family: "OpenSans";
    font-weight: 300;
    color: #000000;
}

.team {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a1a1a;
}

.team__content-items {
    display: flex;
    align-items: center;
}

.team__content-title {
    color: #ffffff;
    font-size: 42px;
    line-height: 1.23;
    font-family: "OpenSans";
    font-weight: 600;
    line-height: 1.23;
    margin-bottom: 95px;
}

.team__content-about {
    display: flex;
    margin-bottom: 50px;
}

.team__content-about-img {
    width: 80px;
}

.team__content-about-description {
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.55;
    font-family: "OpenSans";
    font-weight: 300;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.team__content-img>img {
    width: 560px;
}

.stages {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.stages__content-title {
    font-size: 42px;
    line-height: 1.23;
    font-family: "OpenSans";
    font-weight: 600;
    color: #000000;
    margin-bottom: 100px;
}

.stages__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.stages__content-items {
    display: flex;
}

.stages__content-items-figure {
    width: 35px;
    height: 35px;
    border-width: 0;
    background: #ffd014;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    color: #000000;
    font-size: 16px;
    text-align: center;
}

.stages__content-items-figure-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-family: "OpenSans";
}

.stages__content-items-work {
    padding-left: 24px;
}

.stages__content-items-title {
    font-size: 24px;
    line-height: 1.35;
    font-family: "OpenSans";
    font-weight: 600;
    color: #000000;
    margin-bottom: 15px;
}

.stages__content-items-description {
    font-size: 15px;
    line-height: 1.55;
    font-family: "OpenSans";
    font-weight: 300;
    color: #000000;
}

footer {
    background-color: #101820;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer__content-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.footer__content-title {
    color: #fff;
    font-family: "OpenSans";
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 16px;
}

.footer__content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__content-items>ul {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    align-items: center;
}

.footer__content-items>ul>li {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    opacity: 0.6;
}

.footer__content-items>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.footer__content-items>ul>li>a:hover {
    opacity: 0.7;
}

.footer__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__content-title {
    text-align: center;
}

.footer__content-description {
    text-align: center;
    opacity: 0.6;
    color: #fff;
    width: 510px;
}